[customTitlebar] .base-2jDfDU {
    border-top-left-radius: 8px;
}

[customTitlebar] .scroller-3X7KbA {
    padding: 4px 0 0;
}

[customTitlebar] .backdrop-2ByYRN {
    top: -30px;
    padding-top: 30px;
}

* {
    outline: none;
}

[class^="socialLinks-"] + [class^="info-"] {
    padding-right: 0;
}

[class|="listItem"]:has([data-list-item-id="guildsnav___app-download-button"]),
[class|="listItem"]:has(+ [class|="listItem"] [data-list-item-id="guildsnav___app-download-button"]) {
    display: none;
}

/* Could improve scrolling performance? Probably outdated. https://stackoverflow.com/questions/18529381/what-does-webkit-transform-translate3d0-0-0-exactly-do-apply-to-body */
.scroller-kQBbkU {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
}
