* {
    outline: none;
}

[class^="socialLinks-"] + [class^="info-"] {
    padding-right: 0;
}

/* Could improve scrolling performance? Probably outdated. https://stackoverflow.com/questions/18529381/what-does-webkit-transform-translate3d0-0-0-exactly-do-apply-to-body */
.scroller-kQBbkU {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
}
