@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../../assets/fonts/Ubuntu.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body,
html {
    background: transparent;
}

.desktop-capturer-selection {
    padding: 50px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    vertical-align: center;
    background-color: #36393f;
    border-radius: 30px;
    color: #ffffff;
    display: flex;
    font-family: "Ubuntu", sans-serif;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.desktop-capturer-selection__scroller {
    display: flex;
    width: 100%;
    overflow-y: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.desktop-capturer-selection__list {
    max-width: calc(100% - 100px);
    margin: 50px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    overflow: hidden;
    justify-content: center;
}

.desktop-capturer-selection__item {
    display: flex;
    margin: 4px;
}

.desktop-capturer-selection__btn {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 145px;
    margin: 0;
    border: 0;
    border-radius: 3px;
    padding: 4px;
    background: #23272a;
    text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
}

.desktop-capturer-selection__btn:hover,
.desktop-capturer-selection__btn:focus {
    background: #5865f2;
    box-shadow:
        0 0 4px rgba(0, 0, 0, 0.45),
        0 0 2px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.desktop-capturer-selection__thumbnail {
    width: 100%;
    height: 81px;
    object-fit: cover;
}

.desktop-capturer-selection__name {
    margin: 6px 0;
    white-space: nowrap;
    color: white;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
}

.desktop-capturer-selection__name--cancel {
    margin: auto 0;
}

input[type="checkbox"] {
    display: flex;
    margin: 0 auto;
    height: 2em;
    width: 2em;
    border-radius: 5px;
    appearance: none;
    background-color: #484c52;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    border: solid #0000 4px;
}

input[type="checkbox"]:checked {
    background-color: #5865f2;
    background-image: url("data:image/svg+xml,%3Csvg width='64px' height='64px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m53 0-29 40-13-17-11 8.3 24 33 40-56z' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-color: #5865f2;
    animation: checkmark-animation 0.4s ease-in-out;
}

input[type="checkbox"]:not(:checked) {
    animation: checkmark-animation-unchecked 0.3s ease-in-out;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

@keyframes checkmark-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes checkmark-animation-unchecked {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.checkbox-container {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 5px;
}
