.withFrame-haYltI {
    height: 10px !important;
    width: 100%;
    position: fixed;
    background-color: #313338;
    z-index: 99999;
}

.titlebar {
    flex-shrink: 0;
    overflow: hidden;
    width: 100%;
    height: inherit;
    -webkit-app-region: drag;
    user-select: none;
    -webkit-user-select: none;
}

.titlebar #window-controls-container {
    float: right;
    width: 150px;
    height: 100%;
    line-height: 30px;
    -webkit-app-region: no-drag;
}

.titlebar #window-controls-container #minimize,
.titlebar #window-controls-container #maximize,
.titlebar #window-controls-container #quit {
    float: right;
    height: 100%;
    width: 33.3%;
    text-align: center;
    color: var(--interactive-normal);
    cursor: default;
}

.titlebar #window-controls-container #spacer {
    pointer-events: none;
}

.titlebar #window-controls-container {
    width: 142px;
}

.titlebar #window-controls-container #minimize:hover {
    background-color: #29ca4f;
    transition: 0.2s ease;
}

.titlebar #window-controls-container #maximize:hover {
    background-color: #fcbc49;
    transition: 0.2s ease;
}

.titlebar #window-controls-container #quit:hover {
    background-color: #e81123;
    transition: 0.2s ease;
}

.titlebar #window-controls-container #minimize {
    background-color: transparent;
    transition: 0.1s ease;
}

.titlebar #window-controls-container #maximize {
    background-color: transparent;
    transition: 0.1s ease;
}

.titlebar #window-controls-container #quit {
    background-color: transparent;
    transition: 0.1s ease;
}

.titlebar #window-controls-container #quit:active {
    background-color: #f1707a;
    transition: 0.1s ease;
}