* {
    outline: none;
    scrollbar-width: unset !important;
    scrollbar-color: unset !important;
}

[class^="socialLinks-"] + [class^="info-"] {
    padding-right: 0;
}

/* Hide download discord button */
[class^="listItem_"]:has([data-list-item-id="guildsnav___app-download-button"]),
[class^="listItem_"]:has(+ [class^="listItem_"] [data-list-item-id="guildsnav___app-download-button"]) {
    display: none;
}

/* Hide avatar decoration ad */
.containerWrapper_fa6aa6.animation_fb8933.withoutAvatar__0549d {
    display: none;
}