@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Ubuntu.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body,
html {
    overflow: hidden;
}

.desktop-capturer-selection {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 240px;
    max-width: 430px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    vertical-align: center;
    background-color: #36393f;
    border-radius: 4px;
    color: #ffffff;
    display: flex;
    font-family: "Ubuntu", sans-serif;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 2rem 7px black;
    animation: fadeIn 0.15s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.desktop-capturer-selection__scroller {
    display: flex;
    overflow-y: auto;
    align-items: flex-start;
}

.desktop-capturer-selection__list {
    padding: 2px 17px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    overflow: hidden;
    justify-content: space-evenly;
}

.desktop-capturer-selection__item {

}

.desktop-capturer-selection__btn {
    display: flex;
    flex-direction: column;
    width: 145px;
    border: 0;
    background: transparent;
    cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
}

.desktop-capturer-selection__thumbnail {
    width: 100%;
    height: 81px;
    object-fit: cover;
    border-radius: 4px;
    outline-color: #00000000;
}

.desktop-capturer-selection__btn:hover .desktop-capturer-selection__thumbnail {
    outline: #5865f2 solid 3px;
    transition: outline-color .3s;
}

.desktop-capturer-selection__name {
    margin: 6px auto;
    white-space: nowrap;
    color: white;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    width: 95%;
    font-weight: 600;
    font-size: 14px;
}

.desktop-capturer-selection__name--cancel {
    margin: auto 0;
}

input[type="checkbox"] {
    display: flex;
    height: 2em;
    width: 2em;
    border-radius: 5px;
    appearance: none;
    background-color: #484c52;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    border: solid #0000 4px;
}

input[type="checkbox"]:checked {
    background-color: #5865f2;
    background-image: url("data:image/svg+xml,%3Csvg width='64px' height='64px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m53 0-29 40-13-17-11 8.3 24 33 40-56z' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-color: #5865f2;
    animation: checkmark-animation 0.4s ease-in-out;
}

input[type="checkbox"]:not(:checked) {
    animation: checkmark-animation-unchecked 0.3s ease-in-out;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

input[type="text"] {
    color: white;
    width: 33px;
    border-radius: 5px;
    appearance: none;
    background-color: #484c52;
    border: solid #0000 4px;
    margin: 0.3em;
    cursor: text;
}

select {
    color: white;
    border-radius: 5px;
    background-color: #484c52;
    border: solid #0000 4px;
    margin: 0.3em;
    cursor: pointer;
}


@keyframes checkmark-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes checkmark-animation-unchecked {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.checkbox-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 21px;
    background-color: #2b2d31;
    border-radius: 0 0 4px 4px;
    column-gap: 10px;
}

.subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    background-color: #202225;
    border-radius: 25px;
    box-sizing: border-box;
}

.closeButton {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: none;
    background-color: transparent;
}
