:root {
    --wordmark-svg: url("data:image/svg+xml,%3Csvg version='1.2' baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 96 14' overflow='visible' xml:space='preserve'%3E%3Cpath fill='%2372767D' d='M7.3 4.3c-.7-1.8-3.8-1.4-3.8.4v4.7c0 2.1 4 2.1 4 0v-.5H5.3V6h5.5v3.4c0 3.1-2.6 4.7-5.3 4.7-2.7 0-5.4-1.6-5.4-4.7V4.7C.1 1.6 2.8.1 5.5.1 7.3.1 9.3.8 10.2 3L7.3 4.3zM12.1 4.8c0-3.1 2.8-4.7 5.6-4.7s5.6 1.6 5.6 4.7v4.7c0 3.1-2.8 4.7-5.6 4.7s-5.6-1.6-5.6-4.7V4.8zm3.5 4.6c0 1 1.1 1.5 2.2 1.5s2.2-.5 2.2-1.5V4.8c0-1.1-1.1-1.5-2.2-1.5s-2.1.5-2.1 1.5v4.6zM24.9 4.8c0-3.1 2.8-4.7 5.6-4.7s5.6 1.6 5.6 4.7v4.7c0 3.1-2.8 4.7-5.6 4.7s-5.6-1.6-5.6-4.7V4.8zm3.4 4.6c0 1 1.1 1.5 2.2 1.5s2.2-.5 2.2-1.5V4.8c0-1.1-1.1-1.5-2.2-1.5s-2.1.5-2.1 1.5v4.6zM41.3 6h5.2v3.2h-5.2v4.7h-3.5V.3h9.5v3.3h-6V6zM58.8 11.1c-1.1 2.2-3.2 3.1-4.9 3.1-2.7 0-5.4-1.6-5.4-4.7V4.8c0-3.1 2.7-4.7 5.4-4.7 1.7 0 3.7.7 4.8 3.1L56 4.4c-.9-1.7-4-1.3-4 .4v4.7c0 1.6 3.1 2.1 3.8.2l3 1.4zM59.9 4.8c0-3.1 2.8-4.7 5.6-4.7s5.6 1.6 5.6 4.7v4.7c0 3.1-2.8 4.7-5.6 4.7s-5.6-1.6-5.6-4.7V4.8zm3.5 4.6c0 1 1.1 1.5 2.2 1.5s2.2-.5 2.2-1.5V4.8c0-1.1-1.1-1.5-2.2-1.5s-2.2.5-2.2 1.5v4.6zM77 9.6h-.6v4.3h-3.5V.3h5.4c2.8 0 5 1.3 5 4.5 0 2.5-1 3.9-2.7 4.5l3.7 4.7H80l-3-4.4zm1.4-3c2.2 0 2.2-3.1 0-3.1h-2v3.1h2z'/%3E%3Cpath fill-rule='evenodd' fill='%2372767D' d='M85.6.1h3.1c2.5 0 3.2 0 3.9.2.5.2 1.1.4 1.6.7.4.3.9.8 1.1 1.2.3.3.5.8.6 1 .1.3.2 1.7.2 3.2 0 1.9 0 3.1-.1 3.7-.1.5-.3 1.1-.4 1.3-.1.3-.5.7-.8 1-.2.3-.8.7-1.2.9-.4.2-1.1.4-1.6.5-.4 0-2.1.1-6.4.1v-3.4h2.6c1.5 0 2.9 0 3.1-.1.3-.1.7-.2.8-.4.4-.3.4-.4.4-2.9 0-2 0-2.6-.2-2.9-.1-.2-.3-.5-.5-.6-.3-.1-.8-.1-2.6-.1V6c0 1.5-.1 2.7-.1 2.7-.1.1-.9-.7-3.5-3.3V.1z'/%3E%3C/svg%3E");
}

div[class*="bar"]:has(> [class$="title"]) {
    transition: background-color 0.25s ease-in;
    will-change: background-color;
}

/* GoofCord logo */
div[class*="bar"][__goofcord-custom-titlebar="true"] > [class$="leading"]::after {
    content: "";
    width: 80px;
    mask-image: var(--wordmark-svg);
    mask-repeat: no-repeat;
    background-color: var(--text-muted);
    height: 9px;
    margin-left: 20px;
}

/* Move top right buttons to the left to make space for
   max/min/close buttons */
div[class*="bar"][__goofcord-custom-titlebar="true"] > [class$="trailing"] {
    padding-right: 129px !important;
}

#titlebar-text {
    will-change: opacity;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(20, 20, 20, 1) 50%, rgba(0, 0, 0, 0) 100%);
    padding: 6px 120px;
    margin: 0;
    max-width: 1000px;
    height: 25px;
    vertical-align: middle;
    line-height: 150%;
    opacity: 0;
    z-index: 999;
    font-weight: bold;
    letter-spacing: 0.02em;
}

#dragbar {
    position: absolute;
    width: 100%;
    height: 33px;
    z-index: 998;
    transition: background-color 0.25s ease-in;
}

#window-controls-container {
    width: fit-content;
    height: var(--custom-app-top-bar-height);
    position: absolute;
    top: 0;
    right: var(--space-12);
    z-index: 999;
    -webkit-app-region: no-drag;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: var(--space-4);
}

#window-controls-container::before {
    content: "";
    display: block;
    -webkit-border-start: 1px solid var(--border-subtle);
    border-inline-start: 1px solid var(--border-subtle);
    height: calc(var(--custom-app-top-bar-height) - var(--space-12));
    margin-inline: var(--space-4);
}

#window-controls-container > div {
    float: left;
    width: var(--custom-app-top-bar-height);
    height: var(--custom-app-top-bar-height);
    mask-size: 12px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--interactive-text-default);
    cursor: pointer;
}

#window-controls-container > div:hover {
    background-color: var(--interactive-text-hover);
}

#minimize {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' viewBox='0 0 12 12'%3E%3Crect fill='currentColor' width='10' height='1' x='1' y='6'%3E%3C/rect%3E%3C/svg%3E");
}

#maximize {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' viewBox='0 0 12 12'%3E%3Crect width='9' height='9' x='1.5' y='1.5' fill='none' stroke='currentColor'%3E%3C/rect%3E%3C/svg%3E");
}

#maximized {
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(-3 -3)'%3E%3Cpath d='M3 5v9h9V5H3zm8 8H4V6h7v7z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 5h1V4h7v7h-1v1h2V3H5v2z'/%3E%3C/g%3E%3C/svg%3E");
}

#quit {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' viewBox='0 0 12 12'%3E%3Cpolygon fill='currentColor' fill-rule='evenodd' points='11 1.576 6.583 6 11 10.424 10.424 11 6 6.583 1.576 11 1 10.424 5.417 6 1 1.576 1.576 1 6 5.417 10.424 1'%3E%3C/polygon%3E%3C/svg%3E");
}

#quit:hover {
    background-color: var(--red-360) !important;
}