name: Release app

on:
  workflow_dispatch

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        include:
          - name: linux
            runner: ubuntu-latest
            targets: "tar.xz AppImage deb rpm"
            arch: "--x64 --arm64 --armv7l"
          - name: win
            runner: windows-latest
            targets: "zip nsis"
            arch: "--x64 --ia32 --arm64"
          - name: mac
            runner: macos-latest
            targets: "dmg"
            arch: "--x64 --arm64"

    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Github checkout
        uses: actions/checkout@v5

      - name: Install Python setuptools
        if: matrix.name == 'mac'
        run: brew install python-setuptools

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "25.x"

      - name: Install Node dependencies
        run: bun install --frozen-lockfile

#      - name: Install electron-builder globally
#        run: bun add electron-builder -g

#      - name: Build GoofCord
#        run: bun run build

      - name: Package GoofCord
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CSC_IDENTITY_AUTO_DISCOVERY: false
          NODE_OPTIONS: "--max-old-space-size=16384"
        run: bunx electron-builder ${{ matrix.arch }} --${{ matrix.name }} ${{ matrix.targets }} --publish=always